.underline {
  text-decoration: underline;
}

.spoiler {
  background: rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  color: transparent;
  transition: color 100ms ease;

  &:hover {
    color: #eee;
  }
}

.quote {
  color: #e3833d;
}
