.sidebar {
  font-size: 18px;
  font-weight: bold;

  &__inner {
    display: flex;
    flex-flow: column nowrap;
    align-items: flex-start;

    height: 100%;
  }

  &__title {
    display: inline-flex;
    flex-flow: row nowrap;
    align-items: center;

    color: #eee;
    text-decoration: none;

    margin: 8px 16px;

    .icon {
      font-size: 20px;
      margin-right: 16px;
    }
  }

  &__list {
    padding: 16px 0;

    overflow-y: auto;

    @extend %scrollbar;
  }

  &__item {
    &:not(:last-child) {
      margin-bottom: 16px;
    }
  }

  &__link {
    display: inline-flex;
    flex-flow: row nowrap;
    align-items: center;

    border-radius: 50px;

    color: #eee;
    text-decoration: none;

    max-width: 100%;

    padding: 8px 16px;

    transition: background 100ms ease;

    .icon {
      font-size: 20px;
      margin-right: 16px;
    }

    &:hover {
      background: #303339;

      .icon {
        background: $icon-hover;
      }
    }

    &_active,
    &_active:hover {
      background: #303339;

      .icon {
        background: #e3833d;
      }
    }
  }

  &__text {
    overflow: hidden;
    text-overflow: ellipsis;
  }
}
